[submodule "3rdParty/GLFW"]
	path = 3rdParty/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = https://github.com/g-truc/glm
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/optick"]
	path = 3rdParty/optick
	url = https://github.com/bombomby/optick.git
[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "3rdParty/imguizmo"]
	path = 3rdParty/imguizmo
	url = https://github.com/thecherno/imguizmo.git
